<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Plan Details | josthi</title>

  <div th:replace="Common :: includes"></div>
</head>
<body>
  <!-- ========== HEADER ========== -->
   <div th:insert="Common :: nav-menu"></div>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
        <!-- Hero Section -->
    <div class="position-relative bg-img-hero" style="background-image: url(images/josthi/pricing/pricing7.jpg);">
      <div class="container space-2 space-md-3 space-bottom-lg-4 min-h-300rem">
        <div class="d-none d-md-block w-lg-50">
          <h1 class="text-navy">Plan Details.</h1>
          <h2 class="h1 text-dark">How can the plan be helpful</h2>
        </div>
      </div>

      <!-- SVG Background -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
          <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
        </svg>
      </figure>
      <!-- End SVG Background -->
    </div>
    <!-- End Hero Section -->

    <!-- Clients Section -->
    
    <!-- End Clients Section -->

    <!-- Features Section -->
    
    <!-- End Features Section -->

    

          
    <!-- End Pricing Section -->
	<!-- ======================================= D E T A I L ===================================== -->
	<!-- Details Plan Section -->
	<!-- Features Section -->
		<div class="container space-2">
		  <!-- Title -->
		  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9" id="basicService">
			<span class="d-block small font-weight-bold text-cap mb-2"></span>
			<h2>Basic Medical Service</h2>
		  </div>
		  <!-- End Title -->

		  <!-- Icon Blocks -->
		  <div class="row mb-5 mb-md-9">
			
			<div class="col-sm-6 col-md-4 mb-3 mb-sm-7" th:each="basicPlan : ${basicServiceList}">
			  <!-- Icon Block -->
			  <div class="media align-items-center mb-2">
				<figure class="w-100 max-w-6rem mr-3">
				   <img class="img-fluid" src="images/josthi/pricing/pin.svg" alt="SVG">
				</figure>
				<div class="media-body">
				  <h4 class="mb-0" th:text="${basicPlan.verbiageShortDesc}">Basic Service Header</h4>
				</div>
			  </div>
			  <p th:text="${basicPlan.verbiageDetailDesc}">Basic Service Details.</p>
			  <!-- End Icon Block -->
			</div>
			
		  </div>
		  <!-- End Icon Blocks -->
		  
		  <!-- ===========================================================================================-->
		  <!-- ================================Emergency Service  ========================================-->
		  <!-- Title -->
		  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9" id="emergencyService">
			<span class="d-block small font-weight-bold text-cap mb-2"></span>
			<h2>Emergency Medical Service</h2>
		  </div>
		  <!-- End Title -->
		  
		  <!-- Icon Blocks -->
	      <div class="row mb-5 mb-md-9">
			
			<div class="col-sm-6 col-md-4 mb-3 mb-sm-7" th:each="emergencyServices : ${emergencyServiceList}">
			  <!-- Icon Block -->
			  <div class="media align-items-center mb-2">
				<figure class="w-100 max-w-6rem mr-3">
				   <img class="img-fluid" src="images/josthi/pricing/pin_2.png" alt="SVG">
				</figure>
				<div class="media-body">
				  <h4 class="mb-0" th:text="${emergencyServices.verbiageShortDesc}">Emergency Service Header</h4>
				</div>
			 </div>
			  <p th:text="${emergencyServices.verbiageDetailDesc}">Emergency Service Details.</p>
			  <!-- End Icon Block -->
		 	</div>
		 </div>


		  <!-- ===========================================================================================-->
		  <!-- ================================General Service  ========================================-->
		  <!-- Title -->
		  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9" id="generalService">
			<span class="d-block small font-weight-bold text-cap mb-2"></span>
			<h2>General Service</h2>
		  </div>
		  <!-- End Title -->
		  
		  <!-- Icon Blocks -->
	      <div class="row mb-5 mb-md-9">
	      
			<div class="col-sm-6 col-md-4 mb-3 mb-sm-7" th:each="generalService : ${generalServiceList}">
			  <!-- Icon Block -->
			  <div class="media align-items-center mb-2">
				<figure class="w-100 max-w-6rem mr-3">
				   <!-- <img class="img-fluid" src="images/josthi/pricing/pin_1.png" alt="SVG"> -->
				   <i class='far fa-bell' style='font-size:24px'></i>
				</figure>
				<div class="media-body">
				  <h4 class="mb-0" th:text="${generalService.verbiageShortDesc}">General Service Header</h4>
				</div>
			  </div>
			  <p th:text="${generalService.verbiageDetailDesc}">General Service Details.. Page not loaded properly</p>
			  <!-- End Icon Block -->
			</div>
		  </div>
		  <!-- End Icon Blocks -->






		  <div class="text-center">
			<div class="mb-3">
			  <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="#">Sign up and Start Building</a>
			  <a class="btn btn-link mb-2 mb-sm-0 mx-1" href="#">Let's Talk <i class="fas fa-angle-right fa-sm ml-1"></i></a>
			</div>

			<p class="small">Start free trial. * No credit card required.</p>
		  </div>
		</div>
<!-- End Features Section -->
	
	
	<!-- End Details Plan Section-->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
   <div th:insert="Common :: site-footer"></div>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <div th:insert="Common :: js-includes"></div>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of toggle switch
      $('.js-toggle-switch').each(function () {
        var toggleSwitch = new HSToggleSwitch($(this)).init();
      });

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="vendor/polifills.js"><\/script>');
  </script>
</body>
</html>