<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Title -->
  <title>Beneficiary Details | Josthi.com</title>
	
  <!--  ======================== CSS INCLUDES ===================== -->	
  <div th:replace="user_common :: includes"></div>
  <!--  ======================== CSS INCLUDES ===================== -->

  
  <Style>
  
  		.disableSecondary {
		    pointer-events: none;
		    opacity: 0.4;
		  }
 </style>
  
  
</head>
<body>
  

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="bg-light">
    <!-- Breadcrumb Section -->
    <div class="bg-navy" style="background-image: url(../vendor/svg/components/abstract-shapes-17.svg);">
      <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">Beneficiary Details</h1>
            </div>

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">Account</li>
              <li class="breadcrumb-item active" aria-current="page">Beneficiary Details</li>
            </ol>
            <!-- End Breadcrumb -->
          </div>
          <!-- ===================== Log out ==================== -->
		  <div th:replace="user_common :: user-logout"></div>
		  <!-- ===================== Log out ==================== -->

        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 mt-lg-n10">
      <div class="row">  
        <div class="col-lg-3">
          <!-- Navbar -->
          <!--  ======================== USER NAVIGATION STARTS HERE =============================== -->
		    <div th:insert="user_common :: user-navigation-menu"></div>
          <!--  ======================== USER NAVIGATION END HERE ================================== -->
          <!-- End Navbar -->
        </div>



		<!-- *********************************** B O D Y ***************************************** -->
        <div class="col-lg-9">
		<!-- Card 1 ===== -->
			<div class="card mb-3 mb-lg-5">
				<div class="card-header">
				  <div class="d-flex align-items-center">
					<h5 class="card-title">Registered Beneficiary</h5>
					<span class="badge badge-soft-danger ml-2"></span>
				  </div>
				</div>
			
				<div class="card-body">
				<!-- Form Group -->
					<div class="row form-group">
					  <label class="col-sm-12 col-form-label input-label">Here are the Registered Beneficiaries</label>
					  

					</div>
				</Div>
			</div>
		
		
	    <!-- ************************ CARD 2 START*************************************-->
        <!-- Card 2-->
			<div id= "primaryBeneficiarySection" class="card mb-3 mb-lg-5">
			  
				<div class="card-header">
				  <div class="d-flex align-items-center">
					<h5 class="card-title">Add Beneficiary Details</h5>
					<span class="badge badge-soft-danger ml-2"></span>
				  </div>
				</div>

				<!-- Body -->
				<div class="card-body">
				  <p class="card-text">Update the Beneficiary info who would like to avail the services.</p>

				  <form id="save_primary_beneficiary_details" class="js-validate" th:action="@{/user/savebeneficiaryDetails/{custId}(custId=${session.USER_SESSION_OBJ_KEY.customerId})}" 
			  											              				th:object="${beneficiary}"  method="post">
					
					<!-- ROW 1 -->
					<div class="row">                				  
						<div class="col-sm-3">
							<div class="form-group js-form-message">
							  <label class="input-label"><i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="Atleast 1 Beneficiary is required."></i>First Name<span class="text-danger">*</span></label>
							  
										<input type="text" th:field="*{firstName}" class="js-masked-input form-control" id="beneficiary1_fname" name="beneficiary1_fname" placeholder="first name" 
										aria-label="beneficiary1_fname" value="" required data-msg="This is a mandatory field" maxlength="50">
									 
							</div>
						</div>
					 
						<div class="col-sm-3">
							<div class="form-group js-form-message">
							  <label class="input-label">Last Name<span class="text-danger">*</span></label>
							  
										<input type="text" th:field="*{lastName}" class="js-masked-input form-control" id="beneficiary1_lname" name="beneficiary1_lname" placeholder="last name" 
										aria-label="beneficiary1_lname" value="" required data-msg="This is a mandatory field" maxlength="50">
									 
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group js-form-message">
							  <label class="input-label">Relation to User<span class="text-danger">*</span></label>
							  <!--  <input type="text" class="js-masked-input form-control"   
										id="beneficiary1Age" name="beneficiary1Age" placeholder="age in Years" value="" required data-msg="Please ented the Current age." onkeypress="return isNumber(event)" maxlength="2">
								-->
							  <select class="form-control show-tick" id="beneficiary1Relation" required data-msg="Required Field">
										<option value="SELF">Self</option>
										<option value="FATHER">Father</option>
										<option value="MOTHER">Mother</option>
										<option value="FATHER_IN_LAW">Father-in-Law</option>
										<option value="MOTHER_IN_LAW">Moter-in-Law</option>
										<option value="RELATIVES">Relatives</option>
										<option value="FRIEND">Friend</option>
										<option value="SPOUSE">Spouse</option>
										<option value="OTHERS">Others</option>
							   </select>
							
							
							</div>
						</div>
					  
						<div class="col-sm-3">
							<div id="beneficiary1GenderDiv" class="form-group js-form-message">
								<label class="input-label">Gender<span class="text-danger">*</span></label>								
								 <div class="input-group js-masked-input">
								  <!-- <select class="form-control show-tick" id="beneficiary1Gender" name="beneficiary1Gender" required data-msg="Required Field">
											<option></option>
											<option>Male</option>
											<option>Female</option>
									</select> -->
									<select class="form-control show-tick" th:field="*{gender}" id="beneficiary1Gender" required data-msg="Required Field">
			                                <option value="0">select gender</option>
			                                <option th:value="M" th:text="Male"></option>
			    							<option th:value="F" th:text="Female"></option>
			                        </select>
								</div>
								 
							</div>
						</div>  
					</div>
					
					
					<BR>

					<h5 class="card-title">Beneficiary Contact Info</h5>
					<BR>
					<!-- ROW 2 -->
					<div class="row"> 
						<div class="col-sm-4">
							<div class="form-group">
							  <label id="beneficiary1MobNo" class="input-label">Primary Mob no.<span class="text-danger">*</span></label>
							  <input type="text" th:field="*{mobileNo1}" class="js-masked-input form-control" id="beneficiary1mobileNo" 
							  name="beneficiary1mobileNo" placeholder="+00 (000) 000-00-00" aria-label="beneficiary1" 
							  value="" required data-msg="Please enter your primary cell no, so that we can contact in emergrncy." >
							</div>
						</div>
					  
						<div class="col-sm-4">
							<div class="form-group">
							  <label class="input-label">Whatsapp no</label>
							  <input type="text" th:field="*{whatsappNo}" class="form-control" 
										id="beneficiary1WhatsappNo" name="beneficiary1WhatsappNo" placeholder="+00 (000) 000-00-00">
									 
							</div>
						</div>
					 

						<div class="col-sm-4">
							<div class="form-group">
								<label id="beneficiary1EmailLabel" class="input-label">Email.</label>
								<input type="email" th:field="*{secondaryEmail}" class="js-masked-input form-control"  
									id="beneficiary1Email" name="beneficiary1Email" placeholder="____@___.__" data-msg="invalid email ID." maxlength="45">
							</div>
						</div>
					</div>
					
					
					<BR>
					<BR>
					<h5 class="card-title">Address Details</h5>
					<BR>
					<!-- ROW 3 -- Address Section -->
					<div class="row"> 
						<div class="col-sm-4">
							<div class="form-group js-form-message">
								<label id="labelbeneficiary1AddressFirstLine" class="input-label">Address Line 1.<span class="text-danger">*</span></label>
								<input type="text" th:field="*{userAddressFirstLine}" class="js-masked-input form-control"  
										id="beneficiary1AddressFirstLine" name="beneficiary1AddressFirstLine" placeholder="Apt Name/No , House no etc" 
										required value="" data-msg="Address is mandatory." maxlength="100" onkeyup="sync()">
							</div>
						</div>
					  
						<div class="col-sm-4">
							<div class="form-group">
							  <label class="input-label">Address Line 2</label>
							  <input type="text" th:field="*{userAddressSecondLine}" class="form-control" 
										id="beneficiary1AddressSecondLine" name="beneficiary1AddressSecondLine" 
										placeholder="St address, PS, PO etc" maxlength="100">
									 
							</div>
						</div>
					 

						<div class="col-sm-4">
							<div class="form-group js-form-message">
								<label id="labelcityTown" class="input-label">City/Town.<span class="text-danger">*</span></label>
								<input type="text" th:field="*{cityTown}" class=" js-masked-input form-control"  
									id="beneficiary1cityTown" name="beneficiary1cityTown" placeholder="town/city" 
									required value="" data-msg="City/Town is mandatory." maxlength="45" onkeyup="sync()">
							</div>
						</div>
					</div>
					
					<!-- ROW 4 -- Address Section -->
					<div class="row"> 
						<div class="col-sm-3">
							<div class="form-group js-form-message">
								<label id="labelstate" class="input-label">State<span class="text-danger">*</span></label>
								<input type="text" class="js-masked-input form-control"  
									id="beneficiary1state" name="beneficiary1state" placeholder="State" 
									required value="West Bengal" data-msg="State is mandatory." maxlength="100" onkeyup="sync()" readonly>
							</div>
						</div>
					  
						<div class="col-sm-3">
							<div class="form-group">
								<label class="input-label">District </label>
								<input type="text" th:field="*{countyDistrict}" class="form-control" 
									id="beneficiary1countyDistrict" name="beneficiary1countyDistrict" 
									placeholder="District" maxlength="45" onkeyup="sync()">
								 
							</div>
						</div>
					 

						<div class="col-sm-3">
							<div class="form-group js-form-message">
								<label id="Labellandmark" class="input-label">Land Mark.<span class="text-danger">*</span></label>
								<input type="text" th:field="*{nearestLandMark}" class="js-masked-input form-control"  
									id="beneficiary1landmark" name="beneficiary1landmark" placeholder="Land Mark" maxlength="100" 
									required value="" data-msg="land mark is mandatory." onkeyup="sync()">
							</div>
						</div>
					  
						<div class="col-sm-3">
							<div class="form-group js-form-message">
								<label id="labelzipPin" class="input-label">Pin Code.<span class="text-danger">*</span></label>
								<input type="text" th:field="*{zipPin}" class="js-masked-input form-control"  
									id="beneficiary1zipPin" name="beneficiary1zipPin" placeholder="Pin Code" maxlength="20" 
									onkeypress="return isNumber(event)" required value="" data-msg="Pin code is mandatory." onkeyup="sync()">
							</div>
						</div> 
						
						<input type="hidden" th:field="*{country}" id="country" th:value="India">
					  <!-- End Row-->
					  
					  
					</div>
					
					
					<!-- ROW 5 --- HEALTH DETAILS --->
					<BR>
					<BR>
					<h5 class="card-title">Health Details</h5>
					
					<BR>
					<div class="row"> 
						<div class="col-sm-3">
							<div class="form-group js-form-message">
								<label id="beneficiary1dobLabel" class="input-label">Date of Birth<span class="text-danger">*</span></label>
								<input type="date" class="js-masked-input form-control"  
									id="beneficiary1dob" name="beneficiary1dob" placeholder="dd-mm-yyyy" min="1985-01-01" max="2000-12-31" 
									data-msg="Date of Birth is mandatory." required>
									
									
							</div>
						</div>  
						<div class="col-sm-3">
							<div class="form-group">
								<label class="input-label">Height</label>
								<input type="text" class="form-control" 
									id="beneficiary1height" name="beneficiary1height" placeholder="height in ft and Inch" maxlength="150">
								 
							</div>
						</div>
					 

						<div class="col-sm-3">
							<div class="form-group js-form-message">
								<label class="input-label">Weight</label>
								<input type="text" class=" js-masked-input form-control"  
									id="beneficiary1weight" name="beneficiary1weight" placeholder="Weight in KG" 
									maxlength="7">
							</div>
						</div>
						
						<div class="col-sm-3">
							<div id="beneficiary1BloodGroupDiv" class="form-group js-form-message">
								<label class="input-label">Blood Group<span class="text-danger">*</span></label>								
								 <div class="input-group js-masked-input">
								  <select class="form-control show-tick" id="beneficiary1BloodGroup" name="beneficiary1BloodGroup" required data-msg="Required Field">
											<option></option>
											<option>O−</option>
											<option>O+</option>
											<option>A−</option>
											<option>A+</option>
											<option>B−</option>
											<option>B+</option>
											<option>AB−</option>
											<option>AB+</option>
											<option>others</option>
											<option>don't know</option>
									</select>
								</div>
								 
							</div>
						</div>
					</div>
					<!-- ROW 6 -- Medical Emergency -->
					<div class="row"> 
						<div class="col-sm-4">
							<div class="form-group js-form-message">
								<label id="beneficiarybeneficiary1HospitalPref" class="input-label">Preferred Hospital<span class="text-danger">*</span></label>
								<input type="text" class="js-masked-input form-control"  
									id="beneficiary1HospitalPref" name="beneficiary1HospitalPref" placeholder="Prefered Hospital/Nursing Home." 
									data-msg="Hospital is mandatory. If you are not sure put 'Nearby'" maxlength="40" required>
							</div>
						</div>
					  
						<div class="col-sm-4">
							<div class="form-group">
								<label class="input-label">Have Medical Insurance/Medi Clame</label>
								<input type="text" class="form-control" 
									id="beneficiary1Mediclame" name="beneficiary1Mediclame" placeholder="Yes/No with Name" maxlength="50">
								 
							</div>
						</div>
					 

						<div class="col-sm-4">
							<div class="form-group js-form-message">
								<label class="input-label">Note If any</label>
								<input type="text" class=" js-masked-input form-control"  
									id="beneficiary1InsuranceNote" name="beneficiary1InsuranceNote" placeholder="Insurance details." 
									maxlength="100">
							</div>
						</div>
					</div>
					
					<!-- ROW 6 --- Medical Conditions -->
					<div class="row"> 
						<div class="col-sm-6">
							<div class="form-group js-form-message">
								<label id="beneficiary1dobLabel" class="input-label">Health Condition<span class="text-danger">*</span></label>								
								<textarea cols="30" rows="3" class="js-masked-input form-control no-resize" 
								id="beneficiary1HealthCondition" name="beneficiary1HealthCondition" placeholder="e.g Fit and fine/ Have physical issues etc." data-msg="Health Condition is mandatory." maxlength="200" required></textarea>
							</div>
						</div>
					  
						<div class="col-sm-6">
							<div class="form-group">
								<label class="input-label">Medical Challenges</label>									
									<textarea cols="30" rows="3" class="form-control no-resize" 
									id="beneficiary1MedicalChallenges" name="beneficiary1MedicalChallenges" placeholder="eg. Hearing prob/ Handicapped etc. describe the issues." maxlength="200"></textarea>
								 
							</div>
						</div>
					</div>
					
					<!-- Footer -->
					<div class="card-footer d-flex justify-content-end">
					  <a class="btn btn-white" >Cancel</a>
					  <span class="mx-2"></span>
					  
					  <button class="btn btn-primary" type="submit">Save Change</button>
					</div>
					<!-- End Footer -->
					
				  </form>
				</div>
				<!-- End Body -->
			</div>
			<!-- End Card 2-->
		  
		  
		</div> <!--END Of class="col-lg-9" -->
		
      </div>
       <!--End Row -->
     </div>
    <!--End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->


  <!-- ========== FOOTER ========== -->
  <div th:replace="user_common :: user-footer"></div>
  <!-- ========== END FOOTER ========== -->


  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 400,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory 
  <script src="../../static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../../static/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="../../static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

  <!-- JS Implementing Plugins 
  <script src="../../static/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="../../static/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="../../static/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="../../static/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="../../static/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
  <script src="../../static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>-->

  <!-- JS Front 
  <script src="../../static/js/hs.core.js"></script>
  <script src="../../static/js/hs.validation.js"></script>-->
  
    <!-- Input Mask Plugin Js Added New By Susovan
    <script src="../../static/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script>
	<script src="../../static/vendor/bootstrap/dist/js/bootstrap-session-timeout.js"></script>-->

  <!-- JS Plugins Init. -->
  <!-- ========== JAVA SCRIPT INCLUDE START ========== -->
  <div th:insert="user_common :: js-includes"></div>
  <!-- ========== END JAVA SCRIPT INCLUDE ========== -->
  
  <!--<script>
    $.sessionTimeout({
        keepAliveUrl: 'keep-alive.html',
        logoutUrl: '/destroy',
        redirUrl: '/destroy',
        warnAfter: 900000,
        redirAfter: 20000,
        countdownBar: true
    });
	
    </script>-->
	
	
	
	<script>
  	$(document).ready(function(){
      
	  $(beneficiary1mobileNo).inputmask('+99 (999) 999-9999');  //static mask
      $(beneficiary1WhatsappNo).inputmask('+99 (999) 999-9999');
      $(whatsappNo).inputmask('+99 (999) 999-9999');
      $(emailSecondary).inputmask({ alias: "email" });
      $(emailPrimary).inputmask({ alias: "email" }); 
	});
	
	
	//Enable Disable The selection Based on Selection
	$( document ).ready(function() {
       hidePrimary();
	   hideSecondary();
	   $('#beneficiary1Relation').attr("disabled", true);
	   $('#beneficiary2Relation').attr("disabled", true);
	   
	});
	

	
	function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if(charCode == 32 || charCode == 43 || charCode == 40 || charCode == 41){	//for Space and +,(,)
		return true
	}else if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
	}
	
	//$(document).on('change', '#beneficiary1AddressFirstLine', function(){
    //    var total = $('#beneficiary1AddressFirstLine').val();
    //    $('#beneficiary2AddressFirstLine').val(total);
	//});
	
	
	function sync()
	{
	  var n1 = document.getElementById('beneficiary1AddressFirstLine');
	  var n2 = document.getElementById('beneficiary2AddressFirstLine');
	  n2.value = n1.value;
	  
	  var adline2Ben1 = document.getElementById('beneficiary1AddressSecondLine');
	  var adline2Ben2 = document.getElementById('beneficiary2AddressSecondLine');
	  adline2Ben2.value = adline2Ben1.value;
	  
	  var cityBen1 = document.getElementById('beneficiary1cityTown');
	  var cityBen2 = document.getElementById('beneficiary2cityTown');
	  cityBen2.value = cityBen1.value;
	  
	  var stateBen1 = document.getElementById('beneficiary1state');
	  var stateBen2 = document.getElementById('beneficiary2state');
	  stateBen2.value = stateBen1.value;
	  
	  var distBen1 = document.getElementById('beneficiary1countyDistrict');
	  var distBen2 = document.getElementById('beneficiary2countyDistrict');
	  distBen2.value = distBen1.value;
	  
	  var landmarkBen1 = document.getElementById('beneficiary1landmark');
	  var landmarkBen2 = document.getElementById('beneficiary2landmark');
	  landmarkBen2.value = landmarkBen1.value;
	  
	  var pinBen1 = document.getElementById('beneficiary1zipPin');
	  var pinBen2 = document.getElementById('beneficiary2zipPin');
	  pinBen2.value = pinBen1.value;
	  
	}
	
	/*$(document).on('change','#beneficiaryCount',function(){
				var count = $('#beneficiaryCount').find(":selected").val();
               			   
			   
			   if(count === '0'){
					hidePrimary();
					hideSecondary();
					$('#beneficiary1Relation').attr("disabled", true);
					$('#beneficiary2Relation').attr("disabled", true);
			   }else if(count === '1'){
					showPrimary();
					hideSecondary();
					$('#beneficiary1Relation').attr("disabled", false);
					$('#beneficiary2Relation').attr("disabled", true);
			   }else if(count === '2'){
					showPrimary();
					showSecondary();
					$('#beneficiary1Relation').attr("disabled", false);
					$('#beneficiary2Relation').attr("disabled", false);
			   }
          });
	
	
	
   
   function showSecondary() {
		  var x = document.getElementById("secondaryBeneficiarySection");
		  x.style.display = "block";
   }
   
   function hidePrimary() {
		  var x = document.getElementById("primaryBeneficiarySection");
		  x.style.display = "none";
   }
   
      function showPrimary() {
		  var x = document.getElementById("primaryBeneficiarySection");
		  x.style.display = "block";
   }*/
   
   function hideSecondary() {
		  var x = document.getElementById("secondaryBeneficiarySection");
		  x.style.display = "none";
	}
	
  </script>
	
  
  <script>
    $(document).on('ready', function () {
    	
  	  var element = document.getElementById("userBeneficiaryDetailsLink");
	  element.classList.add("active");
	  
	 // showPrimary();
	  
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          
        });
      });
	  
	  // initialization of flatpickr Date time Picker. Susovan
    //$('.js-flatpickr').each(function () {
    //  $.HSCore.components.HSFlatpickr.init($(this));
    //});

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>
  
  

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>
