<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Login &amp; Security | Josthi.com</title>
	
	<!--  ======================== CSS INCLUDES ===================== -->	
  	<div th:replace="user_common :: includes"></div>
  	<!--  ======================== CSS INCLUDES ===================== -->	

  
  <style>


		/* The message box is shown when the user clicks on the password field */
		#message {
		  display:none;
		  /*background: #f1f1f1;*/
		  color: #000;
		  position: relative;
		  padding: 2px;
		  margin-top: 10px;
		}

		#message p {
		  padding: 2px 55px;
		  font-size: 15px;
		}

		/* Add a green text color and a checkmark when the requirements are right */
		.valid {
		  color: green;
		}

		.valid:before {
		  position: relative;
		  left: -35px;
		  content: "✔";
		}

		/* Add a red text color and an "x" when the requirements are wrong */
		.invalid {
		  color: red;
		}

		.invalid:before {
		  position: relative;
		  left: -35px;
		  content: "✖";
		}
		
		
  	#otpStatus {
		  display: none;
		  color: #555;
		  border-radius: 5px;
		  font-family: Tahoma, Geneva, Arial, sans-serif;
		  font-size: .8em;
		  padding: 5px 5px 5px 30px;
		  margin: 5px 5px 5px 5px;
		  width:100%;
		  background: #ffecec;
		  border: 2px solid #f5aca6;
		}

		
	</style>
  
</head>
<body>
  
   <input type="hidden" th:value="${session.USER_SESSION_OBJ_KEY.customerId}" id="hiddenCustomerID" />
   <input type="hidden" th:value="${session.USER_SESSION_OBJ_KEY.userEmailId}" id="hiddenEmailID" />
   
  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="bg-light">
    <!-- Breadcrumb Section -->
    <div class="bg-navy" style="background-image: url(../vendor/svg/components/abstract-shapes-17.svg);">
      <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">Login &amp; security</h1>
            </div>

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">Account</li>
              <li class="breadcrumb-item active" aria-current="page">Login &amp; security</li>
            </ol>
            <!-- End Breadcrumb -->
          </div>

          <!-- ===================== Log out ==================== -->
		  <div th:replace="user_common :: user-logout"></div>
		  <!-- ===================== Log out ==================== -->
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 mt-lg-n10">
      <div class="row">
        <div class="col-lg-3">
          <!-- Navbar -->
          <!--  ======================== USER NAVIGATION STARTS HERE =============================== -->
		    <div th:insert="user_common :: user-navigation-menu"></div>
          <!--  ======================== USER NAVIGATION END HERE ================================== -->
          <!-- End Navbar -->
        </div>

        <div class="col-lg-9">
          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <h5 class="card-title">Validate your email.</h5>
                <span class="badge badge-soft-danger ml-2"></span>
              </div>
            </div>
            
            <!-- Alert Section Start-->
	            <div th:if="${statusOtp ne null}">
		            <div class="alert alert-dismissible fade show" role="alert" th:classappend="${statusOtp == 'Success'} ? alert-success : alert-warning">
					  <strong><span th:text="${statusOtp}"></span>:</strong> <span th:text="${messageOtp}"></span>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
					      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
					    </svg>
					  </button>
					</div>
				</div>
				
				

				<!-- Alert Section End-->

            <!-- Body -->
            <div class="card-body">
              <p class="card-text">This is a first time setup to validate your email.</p>

              <form class="js-validate" id="otpValidate" th:action="@{/user/validateOtp}" th:object="${passwordResetBean}"  method="post">
              
              	<!-- These Values are populated from session -->
              	 <input type="hidden" th:field="*{emailId}"  id="userEmailIdOtp">
			     <input type="hidden" th:field="*{role}"  id="userRoleOtp">
			     <input type="hidden" th:field="*{userID}"  id="userIdOtp">
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="accountPasswordLabel" class="col-sm-3 col-form-label input-label">One Time password</label>

                  <div class="col-sm-9 js-form-message">
                    <input type="text" th:field="*{otp}" class="form-control" name="otp" id="otp" placeholder="Enter the OTP (the session will expire in 20 min)" aria-label="Enter the OTP (the session will expire in 20 min)" required maxlength="6">
                    <small class="form-text">Please enter the OTP you received in email.</small>
                  </div>
                </div>
                <!-- End Form Group -->

                <div class="d-flex justify-content-end">
                  <a class="btn btn-white" href="javascript:resendOTP();">Re-send OTP</a>
                  <span class="mx-2"></span>
                  <button type="submit" class="btn btn-primary">Set up</button>
                </div>
                
                <div class="row">
					<label  id="otpStatus"></label>
				</div>
              </form>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title">Password</h5>
            </div>


				<!-- Alert Section Start-->
	            <div th:if="${status ne null}">
		            <div class="alert alert-dismissible fade show" role="alert" th:classappend="${status == 'Success'} ? alert-success : alert-warning">
					  <strong><span th:text="${status}"></span>:</strong> <span th:text="${message}"></span>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
					      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
					    </svg>
					  </button>
					</div>
				</div>
				<!-- Alert Section End-->


            <!-- Body -->
            <div class="card-body">
              <!-- Form -->
              <form id="changePassword" class="js-validate" th:action="@{/user/changePassword/{custId}(custId=${session.USER_SESSION_OBJ_KEY.customerId})}" 
			  											              th:object="${passwordResetBean}"  method="post">
			  											              
			     <input type="hidden" th:field="*{emailId}"  id="userEmailId">
			     <input type="hidden" th:field="*{role}"  id="userRole">
			     <input type="hidden" th:field="*{userID}"  id="userId">
			     
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="currentPasswordLabel" class="col-sm-3 col-form-label input-label">Current password</label>

                  <div class="col-sm-9 js-form-message">
                    <input type="password" th:field="*{oldPassword}" class="form-control" name="currentPassword" id="currentPassword" placeholder="Enter current password" aria-label="Enter current password" required>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="newPassword" class="col-sm-3 col-form-label input-label">New password</label>

                  <div class="col-sm-9 js-form-message">
                    <input type="password" th:field="*{newPassword}" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" aria-label="Enter new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">Confirm new password</label>

                  <div class="col-sm-9 ">
                    <div class="mb-3 js-form-message">
                      <input type="password" th:field="*{newConfirmPassword}" class="form-control" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm your new password" aria-label="Confirm your new password" required>
                    </div>


                    <!--<p class="card-text font-size-1">Ensure that these requirements are met:</p>

                    <ul class="font-size-1">
                      <li>Minimum 8 characters long - the more, the better</li>
                      <li>At least one lowercase character</li>
                      <li>At least one uppercase character</li>
                      <li>At least one number, symbol, or whitespace character</li>
                    </ul>-->
					<div id="message">
					  <h5>Password must contain the following:</h5>
					  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
					  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
					  <p id="number" class="invalid">A <b>number</b></p>
					  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
					</div>

					
					
                  </div>
                </div>
                <!-- End Form Group -->

                <div class="d-flex justify-content-end">
                  <a class="btn btn-white" href="javascript:clear();">Clear</a>
                  <span class="mx-2"></span>
                  <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
              </form>
              <!-- End Form -->
            </div>
			
					
            <!-- End Body -->
          </div>
          <!-- End Card -->
		  
		  <!-- ===================================================================================================-->
			<!-- ======================= C A R D  3 ================================================================-->
          <!-- Card -->
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Delete your account</h5>
            </div>

            <!-- Body -->
            <div class="card-body">
				<!-- Toggle Switch -->
                <label class="row form-group toggle-switch mb-3" for="preferencesSwitch3">
                  <span class="col-8 col-sm-9 toggle-switch-content ml-0">
                    <span class="card-text text-dark mb-0">Delete My Account</span>
                    <span class="card-text font-size-1">Are you sure you want to delete your account? It will deactivated for 60 Days before removal. In case you want to resume, please email or call the Support Team. </span>
                  </span>
                  <span class="col-4 col-sm-3">
                    <input type="checkbox" class="toggle-switch-input" id="preferencesSwitch3" >
                    <span class="toggle-switch-label ml-auto">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </span>
                </label>
                <!-- End Toggle Switch -->

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-danger transition-3d-hover">Delete</button>
              </div>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
        <!--end Of class="col-lg-9" -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->



  <!-- ========== FOOTER ========== -->
  <div th:replace="user_common :: user-footer"></div>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 400,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- ========== JAVA SCRIPT INCLUDE START ========== -->
  <div th:insert="user_common :: js-includes"></div>
  <!-- ========== END JAVA SCRIPT INCLUDE ========== -->

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
    	
    var element = document.getElementById("userLoginAndsecurityLink");
    element.classList.add("active");
    	
    	
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmNewPassword: {
              equalTo: '#newPassword'
            }
          }
        });
      });

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>
  
  <!-- Susovan , Validation for Password Strength -->
  <script>
	var myInput = document.getElementById("newPassword");
	var letter = document.getElementById("letter");
	var capital = document.getElementById("capital");
	var number = document.getElementById("number");
	var length = document.getElementById("length");

	// When the user clicks on the password field, show the message box
	myInput.onfocus = function() {
	  document.getElementById("message").style.display = "block";
	}

	// When the user clicks outside of the password field, hide the message box
	myInput.onblur = function() {
	  document.getElementById("message").style.display = "none";
	}

	// When the user starts to type something inside the password field
	myInput.onkeyup = function() {
	  // Validate lowercase letters
	  var lowerCaseLetters = /[a-z]/g;
	  if(myInput.value.match(lowerCaseLetters)) {  
		letter.classList.remove("invalid");
		letter.classList.add("valid");
	  } else {
		letter.classList.remove("valid");
		letter.classList.add("invalid");
	  }
	  
	  // Validate capital letters
	  var upperCaseLetters = /[A-Z]/g;
	  if(myInput.value.match(upperCaseLetters)) {  
		capital.classList.remove("invalid");
		capital.classList.add("valid");
	  } else {
		capital.classList.remove("valid");
		capital.classList.add("invalid");
	  }

	  // Validate numbers
	  var numbers = /[0-9]/g;
	  if(myInput.value.match(numbers)) {  
		number.classList.remove("invalid");
		number.classList.add("valid");
	  } else {
		number.classList.remove("valid");
		number.classList.add("invalid");
	  }
	  
	  // Validate length
	  if(myInput.value.length >= 8) {
		length.classList.remove("invalid");
		length.classList.add("valid");
	  } else {
		length.classList.remove("valid");
		length.classList.add("invalid");
	  }
	}
</script>


<!-- https://www.concretepage.com/thymeleaf/thymeleaf-javascript-inline-example-with-variable -->
<script th:inline="javascript">   
       $(document).ready(function() {
	       var email = /*[[${session.USER_SESSION_OBJ_KEY.userEmailId}]]*/'null';
	       var role = /*[[${session.USER_SESSION_OBJ_KEY.userRole}]]*/'null';
	       var id = /*[[${session.USER_SESSION_OBJ_KEY.customerId}]]*/'null';
	       $("#userEmailId").val(email);
	       $("#userRole").val(role);
	       $("#userId").val(id);
	       
	       $("#userEmailIdOtp").val(email);
	       $("#userRoleOtp").val(role);
	       $("#userIdOtp").val(id);  
       });
</script>

<Script>

		function clear(){
			document.getElementById('currentPassword').value = '';
			document.getElementById('newPassword').value = '';
			document.getElementById('confirmNewPassword').value = '';
		}
		
		
		
		//Ajax Call for New OTP.
		function resendOTP(){
			var custId = $('#hiddenCustomerID').val();
			var emailId = $('#hiddenEmailID').val();
			
			var formData = new FormData();
			formData.append('customerID',custId);
			formData.append('emailId',emailId);
			
			$.ajax({
				type: "POST",
				enctype: 'multipart/form-data',
				url: "/resendOTP",
				data: formData,
				dataType: 'html', //Important , it has to be HTML to get HTML String Back
				cache: false,
				timeout: 600000,
				contentType: false,
				processData: false, //it prevent jQuery form transforming the data into a query string
				success: function (data, status) {
					console.log("SUCCESS : ", data);
					
					if(isStringContains(data, 'Success :')){
						showSuccessMsg(data);
					}else{
						showError(data);
					}
						
					//alert("Success :"+data);
		
				},
				error: function (xhr, status, error) {
					console.log("ERROR : ", xhr.status);
					console.log("ERROR status: ", status);
					console.log("ERROR error: ", error);
					showError("Error : Exception occured while sending the OTP email, try again, if you still see the error, contact the customer service.");
					//alert("Error :"+error);
		
				}
			});
		}


		
		   function showError(msg) {
			  var e1 = document.getElementById("otpStatus");
			  e1.setAttribute("style", "display:block;background:#ffecec;border: 2px solid #f5aca6");
			  e1.innerHTML = "&nbsp;"+msg;

			}
			
			function showSuccessMsg(msg) {
			  var e1 = document.getElementById("otpStatus");
			  e1.setAttribute("style", "display:block;background:#c3f3cd;border: 2px solid #50ef72");
			  e1.innerHTML = "&nbsp;"+msg;

			}
			
			function isStringContains (StringVal, SubStringVal){
				var res = StringVal.match(SubStringVal);
				
				if( res == null){
					return false;
				}else{
					return true;
				}
			}


</Script>




  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>
