<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Purchase History | Josthi.com</title>

  <!--  ======================== CSS INCLUDES ===================== -->	
  <div th:replace="user_common :: includes"></div>
  <!--  ======================== CSS INCLUDES ===================== -->	
  
  
  
</head>
<body>
  

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="bg-light">
    <!-- Breadcrumb Section -->
    <div class="bg-navy" style="background-image: url(../vendor/svg/components/abstract-shapes-17.svg);">
      <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">Purchase History</h1>
            </div>

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">Plan and Service</li>
              <li class="breadcrumb-item active" aria-current="page">Purchase History</li>
            </ol>
            <!-- End Breadcrumb -->
          </div>

          <!-- ===================== Log out ==================== -->
		  <div th:replace="user_common :: user-logout"></div>
		  <!-- ===================== Log out ==================== -->
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 mt-lg-n10">
      <div class="row">
        <div class="col-lg-3">
          <!-- Navbar -->
           <!--  ======================== USER NAVIGATION STARTS HERE =============================== -->
		    <div th:insert="user_common :: user-navigation-menu"></div>
          <!--  ======================== USER NAVIGATION END HERE ================================== -->
          <!-- End Navbar -->
        </div>

        <div class="col-lg-9">
        
          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
              <h5 class="card-header-title">Plan Purchase history</h5>
            </div>
            <!-- End Header -->
			
			<!-- Alert Section Start-->
            <div th:if="${status ne null}">
	            <div class="alert alert-dismissible fade show" role="alert" th:classappend="${status == 'Success'} ? alert-success : alert-warning">
				  <strong><span th:text="${status}"></span>:</strong> <span th:text="${message}"></span>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
				      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
				    </svg>
				  </button>
				</div>
			</div>
			<!-- Alert Section End-->
			
			
			
			<!-- Body -->
            <div class="card-body">
            	<div th:if="${not #lists.isEmpty(purchaseHistoryPlanList)}" class="table_wrapper">
            		<p class="card-text">Here are the Plans you recently purchased, Click on the Invoice for billing and Payment Details</p>
            	</div>
			<BR>
			
            <!-- Table -->
            <div th:if="${not #lists.isEmpty(purchaseHistoryPlanList)}" class="table_wrapper">
             <div class="table-responsive">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                <thead class="thead-light">
                  <tr>
                    <th>Ref ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Purchased On</th>
                    <th>Invoice</th>
                    <th style="width: 5%;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="purchaseHistoryPlan : ${purchaseHistoryPlanList}">
                    <td class="font-size-1" th:text="${purchaseHistoryPlan.purchaseId}" th:id="${purchaseHistoryPlan.purchaseId}"><a href="#">#3682303</a></td>
                    <td class="font-size-1" th:text="${purchaseHistoryPlan.purchaseItem}"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryPlan.paymentStatus}"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryPlan.priceInInr} + '&#8377'"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryPlan.purchaseDate}"></td>
                    <td><a class="btn btn-xs btn-white" href="../pages/invoice.html"><i class="fas fa-file-download mr-1"></i> PDF</a></td>
                    <td><a class="btn btn-xs btn-white" href="javascript:;" data-toggle="modal" data-target="#invoiceReceiptModal"><i class="fas fa-eye mr-1"></i> Quick view</a></td>
                  </tr>
                  <!-- <tr>
                    <td><a href="#">#2333234</a></td>
                    <td><span class="badge badge-soft-success">Successful</span></td>
                    <td>$264</td>
                    <td>22/04/2019</td>
                    <td><a class="btn btn-xs btn-white" href="../pages/invoice.html"><i class="fas fa-file-download mr-1"></i> PDF</a></td>
                    <td><a class="btn btn-xs btn-white" href="javascript:;" data-toggle="modal" data-target="#invoiceReceiptModal"><i class="fas fa-eye mr-1"></i> Quick view</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">#9834283</a></td>
                    <td><span class="badge badge-soft-success">Successful</span></td>
                    <td>$264</td>
                    <td>22/04/2018</td>
                    <td><a class="btn btn-xs btn-white" href="../pages/invoice.html"><i class="fas fa-file-download mr-1"></i> PDF</a></td>
                    <td><a class="btn btn-xs btn-white" href="javascript:;" data-toggle="modal" data-target="#invoiceReceiptModal"><i class="fas fa-eye mr-1"></i> Quick view</a></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            </div> <!-- End If Check -->
            
            <!-- Else Block -->
            <div th:unless="${not #lists.isEmpty(purchaseHistoryPlanList)}">
					<p class="card-text text-danger">You are yet to purchase any Plan. Please purchase a plan from here.</p>
			</div>
            <!-- End Table -->
            </div>
            <!-- End Body -->
            
            
          </div>
          <!-- End Card -->
          
          
        <!-- ************************************CARD 2******************************** -->  
          
         <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
              <h5 class="card-header-title">Service Purchase history</h5>
            </div>
            <!-- End Header -->
			
			<!-- Alert Section Start-->
            <div th:if="${status2 ne null}">
	            <div class="alert alert-dismissible fade show" role="alert" th:classappend="${status2 == 'Success'} ? alert-success : alert-warning">
				  <strong><span th:text="${status2}"></span>:</strong> <span th:text="${message2}"></span>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
				      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
				    </svg>
				  </button>
				</div>
			</div>
			<!-- Alert Section End-->
			
			
			
			<!-- Body -->
            <div class="card-body">
            <div th:if="${not #lists.isEmpty(purchaseHistoryServiceList)}">
            	<p class="card-text">Here are the Services you recently purchased, Click on the Invoice for billing and Payment Details</p>
            </div>
			<BR>
			
            <!-- Table -->
            <div th:if="${not #lists.isEmpty(purchaseHistoryServiceList)}">
             <div class="table-responsive">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                <thead class="thead-light">
                  <tr>
                    <th>Ref ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Purchased On</th>
                    <th>Invoice</th>
                    <th style="width: 5%;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="purchaseHistoryService : ${purchaseHistoryServiceList}">
                    <td class="font-size-1" th:text="${purchaseHistoryService.purchaseId}" th:id="${purchaseHistoryService.purchaseId}"><a href="#">#3682303</a></td>
                    <td class="font-size-1" th:text="${purchaseHistoryService.purchaseItem}"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryService.paymentStatus}"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryService.priceInInr} + '&#8377'"></td>
                    <td class="font-size-1" th:text="${purchaseHistoryService.purchaseDate}"></td>
                    <td><a class="btn btn-xs btn-white" href="../pages/invoice.html"><i class="fas fa-file-download mr-1"></i> PDF</a></td>
                    <td><a class="btn btn-xs btn-white" href="javascript:;" data-toggle="modal" data-target="#invoiceReceiptModal"><i class="fas fa-eye mr-1"></i> Quick view</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div> <!-- End If Check -->
            
            <!-- Else Block -->
            <div th:unless="${not #lists.isEmpty(purchaseHistoryServiceList)}">
					<p class="card-text text-danger">As of now you don't have any Purchased services.</p>
			</div>
            <!-- End Table -->
            </div>
            <!-- End Body -->
            
            
          </div>


        </div>
        <!--end Of class="col-lg-9" -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->
  
  
  <!-- ========== FOOTER ========== -->
  <div th:replace="user_common :: user-footer"></div>
  <!-- ========== END FOOTER ========== -->
  
  <!-- Invoice Modal -->
  <div class="modal fade" id="invoiceReceiptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-top-cover bg-primary text-center">
          <figure class="position-absolute right-0 bottom-0 left-0">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
              <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
            </svg>
          </figure>

          <div class="modal-close">
            <button type="button" class="btn btn-icon btn-sm btn-ghost-light" data-dismiss="modal" aria-label="Close">
              <svg width="16" height="16" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- End Header -->

        <div class="modal-top-cover-avatar">
          <img class="avatar avatar-lg avatar-circle avatar-border-lg avatar-centered shadow-soft" src="../../assets/svg/brands/front.svg" alt="Logo">
        </div>

        <!-- Body -->
        <div class="modal-body pt-3 pb-sm-5 px-sm-5">
          <div class="text-center mb-5">
            <h3 class="mb-1">Invoice from Front</h3>
            <span class="d-block">Invoice #3682303</span>
          </div>

          <div class="row mb-6">
            <div class="col-md-4 mb-3 mb-md-0">
              <small class="text-cap">Amount paid:</small>
              <span class="text-dark">$316.8</span>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
              <small class="text-cap">Date paid:</small>
              <span class="text-dark">April 22, 2020</span>
            </div>

            <div class="col-md-4">
              <small class="text-cap">Payment method:</small>
              <div class="d-flex align-items-center">
                <img class="avatar avatar-xss mr-2" src="../../assets/svg/brands/mastercard.svg" alt="Image Description">
                <span class="text-dark">&bull;&bull;&bull;&bull; 4242</span>
              </div>
            </div>
          </div>

          <small class="text-cap mb-2">Summary</small>

          <ul class="list-group mb-4">
            <li class="list-group-item text-dark">
              <div class="d-flex justify-content-between align-items-center">
                <span>Payment to Front</span>
                <span>$264.00</span>
              </div>
            </li>
            <li class="list-group-item text-dark">
              <div class="d-flex justify-content-between align-items-center">
                <span>Tax fee</span>
                <span>$52.8</span>
              </div>
            </li>
            <li class="list-group-item list-group-item-light text-dark">
              <div class="d-flex justify-content-between align-items-center">
                <strong>Amount paid</strong>
                <strong>$316.8</strong>
              </div>
            </li>
          </ul>

          <div class="d-flex justify-content-end">
            <a class="btn btn-xs btn-white" href="#"><i class="fas fa-file-download mr-1"></i> PDF</a>
            <span class="mx-1"></span>
            <a class="btn btn-xs btn-white" href="#"><i class="fas fa-print mr-1"></i> Print Details</a>
          </div>

          <hr class="my-5">

          <p class="modal-footer-text">If you have any questions, please contact us at <a href="mailto:example@gmail.com">example@gmail.com</a> or call at <a class="text-nowrap" href="#">+1 898 34-5492</a></p>
        </div>
        <!-- End Body -->
      </div>
    </div>
  </div>
  <!-- End Invoice Modal -->



  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 400,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

    <!-- ========== JAVA SCRIPT INCLUDE START ========== -->
  	<div th:insert="user_common :: js-includes"></div>
  	<!-- ========== END JAVA SCRIPT INCLUDE ========== -->
  
  <script>
    $(document).on('ready', function () {
    	
    var element = document.getElementById("userPurchaseHistoryLink");
    element.classList.add("active");
    	
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmNewPassword: {
              equalTo: '#newPassword'
            }
          }
        });
      });

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>
  
  

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>
