<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Ticket History | Josthi.com</title>

  <!--  ======================== CSS INCLUDES ===================== -->	
  <div th:replace="user_common :: includes"></div>
  <!--  ======================== CSS INCLUDES ===================== -->
  
</head>
<body>
  

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="bg-light">
    <!-- Breadcrumb Section -->
    <div class="bg-navy" style="background-image: url(../vendor/svg/components/abstract-shapes-17.svg);">
      <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">Login &amp; security</h1>
            </div>

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">Plan and Service</li>
              <li class="breadcrumb-item active" aria-current="page">Request a Service</li>
            </ol>
            <!-- End Breadcrumb -->
          </div>

          <!-- ===================== Log out ==================== -->
		  <div th:replace="user_common :: user-logout"></div>
		  <!-- ===================== Log out ==================== -->
		  
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 mt-lg-n10">
      <div class="row">
        <div class="col-lg-3">
          <!--  ======================== USER NAVIGATION STARTS HERE =============================== -->
		    <div th:insert="user_common :: user-navigation-menu"></div>
          <!--  ======================== USER NAVIGATION END HERE ================================== -->
        </div>

        <div class="col-lg-9">
          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <h5 class="card-title">Here is the history of the Ticket.</h5>
                <span class="badge badge-soft-danger ml-2"></span>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">
              
										  <!-- Body -->
										  <div class="modal-body pt-3 pb-sm-5 px-sm-5">
											<div class="text-center mb-5">
											  <h3 class="mb-1">Request Details from josthi.com</h3>
											  <span class="d-block">Req #3682303</span>
											</div>
					
											<!-- HISTORY Susovan -->
											<!-- Step -->
											<ul class="step step-timeline-md">
											  <li class="step-item">
											    <div class="step-content-wrapper">
											      <span class="step-icon step-icon-soft-primary">1</span>
											      <div class="step-content">
											        <h4>First step</h4>
											        <p class="text-body wrap-text">Achieve virtually any design and layout from within the one template.</p>
											      </div>
											    </div>
											  </li>
											
											  <li class="step-item">
											    <div class="step-content-wrapper">
											      <span class="step-icon step-icon-soft-primary">2</span>
											      <div class="step-content">
											        <h4>Second step</h4>
											        <p class="text-body wrap-text">We strive to figure out ways to help your business grow through all platforms.</p>
											      </div>
											    </div>
											  </li>
											
											  <li class="step-item">
											    <div class="step-content-wrapper">
											      <span class="step-icon step-icon-soft-primary">3</span>
											      <div class="step-content">
											        <h4>Third step</h4>
											        <p class="text-body wrap-text">Find what you need in one template and combine features at will.</p>
											      </div>
											    </div>
											  </li>
											
											  <li class="step-item">
											    <div class="step-content-wrapper">
											      <span class="step-icon step-icon-soft-primary">4</span>
											      <div class="step-content">
											        <h4>Fourth step</h4>
											        <p class="text-body wrap-text">Find what you need in one template and combine features at will.</p>
											      </div>
											    </div>
											  </li>
											
											  <li class="step-item">
											    <div class="step-content-wrapper">
											      <span class="step-icon step-icon-soft-primary">5</span>
											      <div class="step-content">
											        <h4>Fifth step</h4>
											        <p class="text-body wrap-text">Find what you need in one template and combine features at will.</p>
											      </div>
											    </div>
											  </li>
											</ul>
											<!-- End Step -->
											

															
											<!-- Footer -->
											<div class="card-footer d-flex justify-content-end">
											  
											  <span class="mx-2"></span>
											  
											  <button class="btn btn-primary" onclick="window.open('/user/requestService','_self')">Back To Ticket Screen</button>
											</div>
											<!-- End Footer -->
										  </div>
										  <!-- End Body -->


					




            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->


        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->
  <!-- ========== FOOTER ========== -->
  <div th:replace="user_common :: user-footer"></div>
  <!-- ========== END FOOTER ========== -->


  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 400,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- ========== JAVA SCRIPT INCLUDE START ========== -->
  <div th:insert="user_common :: js-includes"></div>
  <!-- ========== END JAVA SCRIPT INCLUDE ========== -->

  <!-- JS Plugins Init. -->
  
  <script>
    $.sessionTimeout({
        keepAliveUrl: 'keep-alive.html',
        logoutUrl: '/destroy',
        redirUrl: '/destroy',
        warnAfter: 900000, //After 900000 ms i.e. 15 min, the Popup will come.
        redirAfter: 20000,
        countdownBar: true
    });
    </script>
  
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmNewPassword: {
              equalTo: '#newPassword'
            }
          }
        });
      });

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>
  
  

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>
