<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>FAQ | josthi</title>
  <div th:replace="Common :: includes"></div>
</head>
<body>

  <!-- ========== HEADER ========== -->
  <div th:insert="Common :: nav-menu"></div>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main> <!--class="container-fluid space-top-3 space-md-2 pl-lg-7 pr-xl-7">-->
	<!-- Collapse Section -->
<div class="container space-4">
  <h2>Basics FAQ</h2>

  <!-- Basics Accordion -->
  <div id="basicsAccordion">
    <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingOne">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
          What is Josthi.com?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Josthi.com is a web based application, ment for those who stay away from their parents and near and dear ones, but still want to take care of them remotely. You can gift your parents a josthi service and they will enjoy it.</p>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingTwo">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
          What are the areas Josthi is currently operational?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Josthi.com is a brand new startup launched on 1st Jan 2021. We are targeting mainly in the Kolkata area. Gradually we will expand. But you are always free to contact us and know the coverage area.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingThree">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
          How reliable is this App and the Service?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Josthi is an app where you don’t need to store any credit card info. We will need your address and contact details to provide the services, but they will never be shared by any one.</p>
          <p>Josthi team will never enter your house, all will be done in the door step. The service providers are verified ones, but still if you have your preferences we can arrange accordingly.</p>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingFour">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
          My Parents are old and might not have access to the app, is the on call facility available?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Yes, 24X7 oncall support will be available, for any queries or concern, they can directly call the agents.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
        <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingFive">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false" aria-controls="basicsCollapseFive">
          How to avail the free services?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingFive" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Please call us, we will guide you with the 15 days trial service. Provided we have service provided in that area.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
        <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingSix">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseSix" aria-expanded="false" aria-controls="basicsCollapseSix">
          Can I get on demand services?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseSix" class="collapse" aria-labelledby="basicsHeadingSix" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Yes specific on demand services are available, you will have to purchase the service and then the agent will assist you.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
        <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingSeven">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseSeven" aria-expanded="false" aria-controls="basicsCollapseSeven">
          Can I get a refund, if i am not satisfied with the service?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseSeven" class="collapse" aria-labelledby="basicsHeadingSeven" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>Sure, customers are our first priority, If you would like to terminate the plan we will get the refund for the remaining days. But I am sure , you don’t need to.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
        <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingEight">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseEight" aria-expanded="false" aria-controls="basicsCollapseEight">
          After Registration what are the things I need to do?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseEight" class="collapse" aria-labelledby="basicsHeadingEight" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>After the registration process, please make sure to fill out your personal details, put as much info as you can. In case of emergency the contact details are required.
			</BR> Add the beneficiary you would like to add to the service.
			</BR>Allow 3-4 Business days, someone will get back to you and assign an agent.(If Agent is available in that area)
			</BR>Now go ahead and purchase your plan. 
			</BR>Keep the agent details handy, for any problem, call them directly. Or you can open a ticket.
			</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
        <!-- Card -->
    <div class="card shadow-none mb-3">
      <div class="card-header card-collapse" id="basicsHeadingNine">
        <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseNine" aria-expanded="false" aria-controls="basicsCollapseNine">
          Who are the Agents?

          <span class="card-btn-toggle">
            <span class="card-btn-toggle-default">+</span>
            <span class="card-btn-toggle-active">−</span>
          </span>
        </a>
      </div>
      <div id="basicsCollapseNine" class="collapse" aria-labelledby="basicsHeadingNine" data-parent="#basicsAccordion">
        <div class="card-body px-0">
          <p>There are many people in Kolkata and WestBengal and they would like to serve the community and earn some money. Josthi is a platform to facilitate that opportunity. Anyone willing to provide the service to the end users can be an Agent, but the Agent has to undergo an interview and background verification process. Need to provide all the necessary documentation. Only after proper validation, an Agent can be operational.</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- End Card -->
    
  </div>
  <!-- End Basics Accordion -->
</div>
<!-- End Collapse Section -->
  </main>

  <!-- ========== FOOTER ========== -->
  <div th:insert="Common :: site-footer"></div>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <div th:insert="Common :: js-includes"></div>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>
</body>
</html>