<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>josthi.com | Start your service today</title>
  <div th:replace="Common :: includes"></div> 
</head>
<body>
  <!-- ========== HEADER ========== -->
  <div th:insert="Common :: nav-menu"></div>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="position-relative bg-img-hero" style="background-image: url(images/josthi/agents/agent8.jpg);">
      <div class="container space-2 space-md-3 space-bottom-lg-4 min-h-300rem">
        <div class="d-none d-md-block w-lg-50">
			<h1 class="text-dark">Time to give back.</h1>
          	<h2 class="h2 text-navy">Here is a change to help your Community and do some business.</h2>
        </div>
      </div>

      <!-- SVG Background -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
          <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
        </svg>
      </figure>
      <!-- End SVG Background -->
    </div>
    <!-- End Hero Section -->

    <!-- Clients Section -->
    <div class="container position-relative z-index-2">
      <div class="row justify-content-center mt-n5">
        <div class="col-3 col-lg-2 d-none d-sm-inline-block mt-n11">
          <!-- Logo -->
          <!--<div class="avatar avatar-xl avatar-circle bg-white shadow-soft p-4 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/1.jpg" alt="Image Description">
          </div>-->
          <!-- End Logo -->
        </div>

        <div class="col-lg-2 d-none d-lg-inline-block mt-lg-n8">
          <!-- Logo 
          <div class="bg-white shadow-soft rounded-circle p-6 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/img17.png" alt="Image Description" width="160" height="160">
          </div>
           End Logo -->
        </div>

        <div class="col-3 col-lg-2 d-none d-sm-inline-block mt-n4">
          <!-- Logo 
          <div class="avatar avatar-xl avatar-circle bg-white shadow-soft p-4 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/img13.png" alt="Image Description">
          </div>
           End Logo -->
        </div>

        <div class="col-3 col-lg-2 d-none d-sm-inline-block mt-n7">
          <!-- Logo 
          <div class="avatar avatar-xl avatar-circle bg-white shadow-soft p-4 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/img14.png" alt="Image Description">
          </div>
          End Logo -->
        </div>

        <div class="col-lg-2 d-none d-lg-inline-block mt-lg-n11">
          <!-- Logo 
          <div class="bg-white shadow-soft rounded-circle p-6 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/img16.png" alt="Image Description" width="160" height="160">
          </div>
           End Logo -->
        </div>

        <div class="col-3 col-lg-2 d-none d-sm-inline-block">
          <!-- Logo 
          <div class="avatar avatar-xl avatar-circle bg-white shadow-soft p-4 mx-auto">
            <img class="avatar-img" src="images/landing/for_lawyer/img15.png" alt="Image Description">
          </div>
           End Logo -->
        </div>
      </div>
    </div>
    <!-- End Clients Section -->



	  <!-- =================== REGISTRATION PORTION ============ -->
	  
	  <!-- Signup Form Section -->
    <div class="bg-white rounded mx-3 mx-xl-10" style="background-image: url(vendor/svg/components/abstract-shapes-20.svg);">
      <div class="container-xl container-fluid space-1 space-md-2 px-4 px-md-8 px-lg-10">
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-md-10 col-lg-5 mb-9 mb-lg-0">
            <h1 class="text-navy">Register here for free!!</h1>
            <p class="text-navy-70">Just few steps ahead to start using the app. Once the registration 
			process is done, login to the app and complete the complete process. To activate your business, someone will call you as soon as possible</p>

            <div class="w-50">
              <hr class="opacity-xs my-50">
            </div>
          </div>

          <div class="col-lg-6">
            <!-- Form -->
            <form class="js-validate card shadow-lg" 
            			action="#" th:action="@{/registerAgent}" th:object="${agentRegistrationBean}"  method="post">
            			
            <!-- ============== ERROR MESSAGE START ======================== --> 
      	    <div th:if="${errorMessage ne null}">
				 <div class="alert alert-warning alert-dismissible fade show" role="alert">
				  <strong>Alert!!</strong> <span th:text="${errorMessage}"></span>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
					  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
					</svg>
				  </button>
				</div>
			</div>
		 	<!--============== ERROR MESSAGE END ========================== -->			
            
            
              <div class="card-body p-4 p-md-7">
                <div class="mb-4">
                  <h3>Fill out the form and login to the App.</h3>
                </div>

                <div class="row mx-n2">
                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="firstName">First name</label>
                      <input type="text" class="form-control" th:field="*{firstName}" name="firstName" id="firstName" placeholder="First name" aria-label="First name" required
                             data-msg="Please enter first your name" maxlength="50">
                    </div>
                    <!-- End Form Group -->
                  </div>
				  

                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="lastName">Last name</label>
                      <input type="text" class="form-control" th:field="*{lastName}" name="lastName" id="lastName" placeholder="Last name" aria-label="Last name" required
                             data-msg="Please enter last your name" maxlength="50">
                    </div>
                    <!-- End Form Group -->
                  </div>

                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="workEmailAddress">Work email</label>
                      <input type="email" class="form-control" th:field="*{emailID}" name="workEmailAddress" id="workEmailAddress" placeholder="Work email" aria-label="Work email" required
                             data-msg="Please enter a valid email address" maxlength="60">
                    </div>
                    <!-- End Form Group -->
                  </div>

                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="contactNumber">Contact Number <span class="text-muted font-weight-normal ml-1">(optional)</span></label>
                      <input type="text" class="form-control" th:field="*{contactNo}" name="contactNumber" id="contactNumber" placeholder="Contact Number" aria-label="Contact Number"
                             data-msg="Please enter you mob number for validation." maxlength="20">
                    </div>
                    <!-- End Form Group -->
                  </div>
				  
				  
				  
				  
				  
				  
				  
				  
				  <!-- Input Group -->
                  <div class="col-sm-6 px-2">
                    <div class="js-form-message form-group">
                      <input type="password" class="form-control" th:field="*{password}" name="password" id="signupPassword" placeholder="Password" aria-label="Password" required
                             data-msg="Your password is invalid. Please try again." maxlength="20">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="col-sm-6 px-2">
                    <div class="js-form-message form-group">
                      <input type="password" class="form-control" th:field="*{confirmPassword}" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required
                             data-msg="Password does not match the confirm password." maxlength="20">
                    </div>
                  </div>
                  <!-- End Input Group -->
				  
                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="userType">User Type</label>
                      <select class="form-control custom-select" th:field="*{agentRequest}" name="userType" id="userType" required
                              data-msg="Please select an option.">
                        <option th:value="BECOME_AGENT" th:text="AGENT"></option>
    					<option th:value="QUERY" th:text="ENQUERY"></option>
                      </select>
                    </div>
                    <!-- End Form Group -->
                  </div>

                  <div class="col-sm-6 px-2">
                    <!-- Form Group -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="Area">Area Code</label>
                      <select class="form-control custom-select" th:field="*{coverageArea}" name="area" id="area" required
                              data-msg="Please select your Area.">
                        <option value="" selected disabled>Area Code</option>                     
                        <option th:value="700001" th:text="700001"></option>
						<option th:value="700002" th:text="700002"></option>
						<option th:value="700003" th:text="700003"></option>
						<option th:value="700004" th:text="700004"></option>
						<option th:value="700005" th:text="700005"></option>
						<option th:value="700006" th:text="700006"></option>
						<option th:value="700007" th:text="700007"></option>
						<option th:value="700008" th:text="700008"></option>
						<option th:value="700009" th:text="700009"></option>
						<option th:value="700010" th:text="700010"></option>
						<option th:value="700011" th:text="700011"></option>
						<option th:value="700012" th:text="700012"></option>
						<option th:value="700013" th:text="700013"></option>
						<option th:value="700014" th:text="700014"></option>
						<option th:value="700015" th:text="700015"></option>
						<option th:value="700016" th:text="700016"></option>
						<option th:value="700017" th:text="700017"></option>
						<option th:value="700018" th:text="700018"></option>
						<option th:value="700019" th:text="700019"></option>
						<option th:value="700020" th:text="700020"></option>
						<option th:value="700021" th:text="700021"></option>
						<option th:value="700022" th:text="700022"></option>
						<option th:value="700023" th:text="700023"></option>
						<option th:value="700024" th:text="700024"></option>
						<option th:value="700025" th:text="700025"></option>
						<option th:value="700026" th:text="700026"></option>
						<option th:value="700027" th:text="700027"></option>
						<option th:value="700028" th:text="700028"></option>
						<option th:value="700029" th:text="700029"></option>
						<option th:value="700030" th:text="700030"></option>
						<option th:value="700031" th:text="700031"></option>
						<option th:value="700032" th:text="700032"></option>
						<option th:value="700033" th:text="700033"></option>
						<option th:value="700034" th:text="700034"></option>
						<option th:value="700035" th:text="700035"></option>
						<option th:value="700036" th:text="700036"></option>
						<option th:value="700037" th:text="700037"></option>
						<option th:value="700038" th:text="700038"></option>
						<option th:value="700040" th:text="700040"></option>
						<option th:value="700041" th:text="700041"></option>
						<option th:value="700042" th:text="700042"></option>
						<option th:value="700043" th:text="700043"></option>
						<option th:value="700044" th:text="700044"></option>
						<option th:value="700045" th:text="700045"></option>
						<option th:value="700046" th:text="700046"></option>
						<option th:value="700047" th:text="700047"></option>
						<option th:value="700050" th:text="700050"></option>
						<option th:value="700052" th:text="700052"></option>
						<option th:value="700053" th:text="700053"></option>
						<option th:value="700054" th:text="700054"></option>
						<option th:value="700060" th:text="700060"></option>
						<option th:value="700061" th:text="700061"></option>
						<option th:value="700062" th:text="700062"></option>
						<option th:value="700063" th:text="700063"></option>
						<option th:value="700065" th:text="700065"></option>
						<option th:value="700066" th:text="700066"></option>
						<option th:value="700067" th:text="700067"></option>
						<option th:value="700068" th:text="700068"></option>
						<option th:value="700069" th:text="700069"></option>
						<option th:value="700071" th:text="700071"></option>
						<option th:value="700072" th:text="700072"></option>
						<option th:value="700073" th:text="700073"></option>
						<option th:value="700074" th:text="700074"></option>
						<option th:value="700075" th:text="700075"></option>
						<option th:value="700077" th:text="700077"></option>
						<option th:value="700078" th:text="700078"></option>
						<option th:value="700080" th:text="700080"></option>
						<option th:value="700082" th:text="700082"></option>
						<option th:value="700085" th:text="700085"></option>
						<option th:value="700086" th:text="700086"></option>
						<option th:value="700087" th:text="700087"></option>
						<option th:value="700088" th:text="700088"></option>
						<option th:value="700089" th:text="700089"></option>
						<option th:value="700090" th:text="700090"></option>
						<option th:value="700092" th:text="700092"></option>
						<option th:value="700094" th:text="700094"></option>
						<option th:value="700095" th:text="700095"></option>
						<option th:value="700099" th:text="700099"></option>
						<option th:value="700107" th:text="700107"></option>
						<option th:value="700108" th:text="700108"></option>
						<option th:value="700139" th:text="700139"></option>
                      </select>
                    </div>
                    <!-- End Form Group -->
                  </div>

                  <div class="col-sm-12 px-2">
                    <!-- Input -->
                    <div class="js-form-message form-group">
                      <label class="sr-only" for="clinetComments">Tell us about your Requirements, how can we help to expand your business.</label>
                      <textarea class="form-control" th:field="*{agentEnqueryDetails}" rows="3" name="clinetComments" id="clinetComments" placeholder="Tell us about your Requirements, how can we help to expand your business." aria-label="Tell us about your Requirements, how can we help to expand your business."
                                data-msg="Please enter your requirements." maxlength="400" ></textarea>
                    </div>
                    <!-- End Input -->
                  </div>
                </div>

                <!-- Checkbox -->
                <div class="js-form-message mb-5">
                  <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                    <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" checked>
                    <label class="custom-control-label small" for="termsCheckbox">
                      Yes, I'd like to receive occasional marketing emails from Front. I have the right to opt out at any time. <a class="link-underline" href="../pages/privacy.html">View privacy policy.</a>
                    </label>
                  </div>
                </div>
                <!-- End Checkbox -->

                <button type="submit" class="btn btn-block btn-primary">Get Started</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Signup Form Section -->
	  
	  
	  <!-- =============== REGISTRATION END ==================== -->


	  <!-- ==================== CARD INFO ====================== -->
	      <!-- Stories Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Success stories</span>
        <h2>See how jasthi.com is helping people and working smarter</h2>
      </div>
      <!-- End Title -->
      <div class="row">
        <div class="col-sm-6 col-md-4 mb-5">
          <!-- Card Info -->
          <div class="card h-100">
            <img class="card-img-top" src="images/josthi/agents/agent_feedback2.jpg" alt="Image Description">
            <div class="card-body">
              <div class="max-w-13rem w-100 mb-3">
                <img class="img-fluid" src="images/josthi/logo/josthi_main_logo_1.svg" alt="Logo">
              </div>
              <p class="mb-0">Amazon launched their enterprise platform and built a powerful user experience.</p>
            </div>
            <div class="card-footer">
              <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
            </div>
          </div>
          <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
          <!-- Card Info -->
          <div class="card h-100">
            <img class="card-img-top" src="images/josthi/agents/agent_feedback1.jpg" alt="Image Description">
            <div class="card-body">
              <div class="max-w-13rem w-100 mb-3">
                <img class="img-fluid" src="images/josthi/logo/josthi_main_logo_1.svg" alt="Logo">
              </div>
              <p class="mb-0">Mapbox empowers marketers to create digital marketing dashboards easily and share them with their team.</p>
            </div>
            <div class="card-footer">
              <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
            </div>
          </div>
          <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
          <!-- Card Info -->
          <div class="card h-100">
            <img class="card-img-top" src="images/josthi/agents/agent_feedback3.jpg" alt="Image Description">
            <div class="card-body">
              <div class="max-w-13rem w-100 mb-3">
                <img class="img-fluid" src="images/josthi/logo/josthi_main_logo_1.svg" alt="Logo">
              </div>
              <p class="mb-0">Netflix's mission is to create a planet run by the sun. In order to achieve this goal, they needed to find a way to make solar simple.</p>
            </div>
            <div class="card-footer">
              <a class="font-weight-bold" href="customer-story.html">Read story <i class="fas fa-angle-right fa-sm ml-1"></i></a>
            </div>
          </div>
          <!-- End Card Info -->
        </div>

      </div>

      <div class="text-center mt-5">
        <a class="btn btn-primary" href="#">View all Stories</a>
      </div>
    </div>
    <!-- End Stories Section -->

    <!-- CTA Section -->
    <div class="bg-primary text-center bg-img-hero" style="background-image: url(vendor/svg/components/abstract-shapes-5.svg);">
      <div class="container space-2">
        <div class="mb-5">
          <h2 class="text-white">Start your demo with josthi today</h2>
        </div>
        <a class="btn btn-light transition-3d-hover" href="#">Schedule a Demo</a>
      </div>
    </div>
    <!-- End CTA Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  <div th:insert="Common :: site-footer"></div>
  <!-- ========== END FOOTER ========== -->


  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

<!-- JS Global Compulsory -->
  <div th:insert="Common :: js-includes"></div>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>