<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>How it works | Josthi.com</title>

  <div th:replace="Common :: includes"></div> 
</head>
<body>
	
  <!-- ========== Navigation Menu ===== -->
  <div th:insert="Common :: nav-menu"></div>	
  <!-- ========== MAIN CONTENT ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="position-relative bg-img-hero" style="background-image: url(../images/josthi/howItWork/img5.jpg);">
      <div class="container space-2 space-md-3 space-bottom-lg-4 min-h-300rem">
        <div class="d-none d-md-block w-lg-50">
          <h1>How it Works.</h1>
          <h2 class="h1 text-primary">A simple process but means a lot.</h2>
        </div>
      </div>

      <!-- SVG Background -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
          <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
        </svg>
      </figure>
      <!-- End SVG Background -->
    </div>
    <!-- End Hero Section -->


	<!-- ==================== CARD INFO ====================== -->
	<!-- Heading -->
    <div class="container space-2 space-lg-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        
        <h2>How Josthi.com works?</h2>
		<span class="d-block small font-weight-bold mb-2">The below steps will show how the whole process works.</span>
      </div>
    </div>
    <!-- =========================== HOW it WORKS SECTION =====================-->
	
	<!-- Product Review Section -->
	<div class="container space-1">
	  <div class="row justify-content-lg-between align-items-lg-center">
		<div class="col-lg-8 space-1 space-lg-2">
		  <h3 class="mb-4">The steps for the Customer.</h3>
		  <p>This app is mainly for the people who stay away from their parents and nearest relatives, might be for Job or higher studies, but still they would like to take care of their parents remotely.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>To start with, the customer will have to register in the Josthi app. Fill-up all the necessary info like contact and address details. </p>
		  <p class="font-size-1" sytle="text-align: inherit;"><i class="fas fa-angle-double-right mr-1"></i>Next the customer will have to add the beneficiary in the app, the beneficiary details are extremely important, these will be required during any emergency. Also add all the emergency contact info. </p>
		  <p class="font-size-1" sytle="text-align: inherit;"><i class="fas fa-angle-double-right mr-1"></i>The josthi team will verify the details and get back to you ASAP. Also based on the location and preference an Agent will be assigned to the registered beneficiary. In case there is no Agent available in that area, it will be conveyed to the customer. Also we will keep a note of it, as soon as we get a verified Agent, we will contact you and assign the beneficiary.</p>
		  <p class="font-size-1" sytle="text-align: inherit;"><i class="fas fa-angle-double-right mr-1"></i>Now comes the Plan Selection part. In the app, you are provided with 3 plan types i.e. Basic, Silver and Gold. Select the plan according to your requirement. You can add the beneficiaries to the plan. In case you go for a Family plan it will save more money. Purchase the plan and start the service right away. Go through the service details enrolled in the plan. Also read the disclaimer for coverage details.</p>
		  <p class="font-size-1" sytle="text-align: inherit;"><i class="fas fa-angle-double-right mr-1"></i>Now it’s time to enjoy the services. When you need a service, the beneficiary can directly call the agent or the customer can open a ticket. The Agent will get an alert once a ticket is created. The Agent will immediately work on the ticket. </p>
		  <p class="font-size-1" sytle="text-align: inherit;"><i class="fas fa-angle-double-right mr-1"></i>We are dedicated to our service, so your feedback is very important. We recommend to provide your feedback on the service provided by the Agent and how much you would rate them. Based one your feedback we will work on the quality of service. </p>

		  
		</div>

		<div class="col-lg-3">
		  <div class="bg-img-hero-center h-100 min-h-620rem rounded" style="background-image: url(../images/josthi/howItWork/how_it_works_2.jpg);"></div>
		</div>
	  </div>

	  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
		<div class="col-lg-8 order-lg-2 space-1 space-lg-2">
		  <h3 class="mb-4">How is the Agent associated with the process?</h3>
		  <p>The Agents are the core Josthi team. There are many people who are willing to provide quality service but don’t have a platform. Josthi provides a platform to those people to serve the community and the society. </p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>The process of selecting a proper Agent is rigorous and undergoes several steps just to ensure the quality of service.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>The Agents are dedicated to serve the beneficiary. For any request, the beneficiary or the host customer can call the Agent and provide the request details. A ticket will be created to the specific task. The Customer can directly create a ticket in the app. </p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>The Payment has to be done online before availing the services. </p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>Josthi provides on demand services, You can consult with the Agent or the customer care before availing the service.  </p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>In case of any concern the customer / Beneficiary can call the customer service any time.</p>
		</div>

		<div class="col-lg-3 order-lg-1">
		  <div class="bg-img-hero-center h-100 min-h-450rem rounded" style="background-image: url(../images/josthi/howItWork/how_it_works_3.jpg);"></div>
		</div>
	  </div>
	  </br>
	  </br>
	 <div class="row justify-content-lg-between align-items-lg-center">
		<div class="col-lg-8 space-1 space-lg-2">
		  <h3 class="mb-4">Service Quality and Security</h3>
		  <p>Josthi team is dedicated to Quality service, No matter what plan you choose, how many beneficiaries you choose. All the Agents are the front line warrior of the echo system. They are the ones who interact with the beneficiaries and the customers. So we spent a lot of resources choosing the correct person. Here are the key features of our services.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>Josthi team and the Josthi Agents will work as an intermediary between the actual service provider and the consumer, so we do take care while selecting our service provider.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>We are in a continuous process of integrating the nearby Hospitals and nursing homes so that we can get the facilities for our customers when needed.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>We are adding the Pathologies , Dental care, Medical shop, Ambulance services etc to our list so that we can provide the facilities right away. The customer and the beneficiaries don’t need to bother about the services, we are here for you.</p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>Our Agents are well trained to handle the elderly and physically challenged customers/beneficiaries.  </p>
		  <p class="font-size-1" ><i class="fas fa-angle-double-right mr-1"></i>Josthi provides a wide range of services to our customers, please check this link below and get your service today.</p>
			<p> <a class="" href="/planDetails">View Service Details.</a></p>
		</div>

		<div class="col-lg-3">
		  <div class="bg-img-hero-center h-100 min-h-450rem rounded" style="background-image: url(../images/josthi/howItWork/how_it_works_5.jpg);"></div>
		</div>
	  </div>
	</div>
	<!-- End Product Review Section -->	  

  </main>

  <!-- ========== FOOTER ========== -->
  <div th:insert="Common :: site-footer"></div>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <div th:insert="Common :: js-includes"></div>
  
  
  

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
  </script>
</body>
</html>